@import url(http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz);
@import url(http://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic);

body {
  font-family: 'Droid Serif';
  font-size: 2em;
}

li {
  margin-bottom: 1em;
}

h1, h2, h3 {
  font-family: 'Yanone Kaffeesatz';
  font-weight: normal;
}

h1 {
  margin-top: 0.3em;
  font-size: 2.6em;
}

.remark-slide-number {
  display: none
}

.the_end {
  background-image: url('../images/monoscope.png');
  background-size: cover;
}

.the_end .remark-slide-number {
  display: none;
}

a {
  text-decoration: none;
}

.hashtag {
  position: absolute;
  right: 20px;
  top: 12px;
  font-size: 0.5em;
}
